apiVersion: v1
baseDomain: nfv
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 1
metadata:
  creationTimestamp: null
  name: fdp
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  openstack:
    apiVIP: 10.0.0.5
    cloud: openstack
    computeFlavor: ocp
    machinesSubnet: $MACHINES_SUBNET
    externalNetwork: public
    ingressVIP: 10.0.0.7
    lbFloatingIP: 192.168.122.150
    octaviaSupport: "0"
    region: ""
    trunkSupport: "1"
publish: External
pullSecret: '{"auths":{"cloud.openshift.com":{"auth":"b3BlbnNoaWZ0LXJlbGVhc2UtZGV2K29jbV9hY2Nlc3NfYzJiNWJiZDhlNTVkNDQyZmFiMjhkNDk1NzEzNjNlZTg6OFk1WjAzQ09INFdHSVQ2NUo1TDhNOFZQQk8zN0E2R1lESFZDVDlERVo0TFBWUVBBQ0dDMElRV1RZSTdWQ0xZQQ==","email":"aasmith@redhat.com"},"quay.io":{"auth":"b3BlbnNoaWZ0LXJlbGVhc2UtZGV2K29jbV9hY2Nlc3NfYzJiNWJiZDhlNTVkNDQyZmFiMjhkNDk1NzEzNjNlZTg6OFk1WjAzQ09INFdHSVQ2NUo1TDhNOFZQQk8zN0E2R1lESFZDVDlERVo0TFBWUVBBQ0dDMElRV1RZSTdWQ0xZQQ==","email":"aasmith@redhat.com"},"registry.connect.redhat.com":{"auth":"Nzk1MDk5MHx1aGMtMWZiRlNjdVpvQmRuZWJuYU9JNHlTcjRqYThsOmV5SmhiR2NpT2lKU1V6VXhNaUo5LmV5SnpkV0lpT2lJM1pXVXdOelkxTWpSbFptRTBZamhqWWpKaU9XSTRaalF3Wm1WaU9EUTFZU0o5LklVUDFqX1hyS1VXeXVmR2VmODlYR21JM3FvV042ZnE0OGJES045YXJWSC0xdWZ5NVlnVzlNVHluYzNTU2dKZWswanpiNEE4RHNSRE0xT1ZURDlTVWhoT3g3OFRRd052bW1nMVFmVmdzWHRqQl9EMmhzajZXT2NDaDNtbDRqR1FvN2FLZVpUc1NTUXdaaGJ4c3NPVXVrN0pVV3ltLXRVWXF1YVZSQTBnRjJxVTR2NXJhZjFNMndTNVFyUWQ3VDA0Z2JwTUdadDFsYjN6czN2RXBTQU9vbnBoLTU1ZUFBSWVCd2FTQ2wxVGdGVTB3UG5oQWVpTlhJc2FMUHVVMG90T2lZZ093eDRyZ3ZoM1RuLWpGX0FWSHZtNXZ0dGstWTctaXZwclg1RUhNbUFZNUJRSDEwM0dDYlNkTHM1VXRScTEycDJhZ1ZvOVQzZ05na0RsVDJ6eHJZZG9Id0c3VUVRWlV3ZHR3RWJUZDRmY0JPeGcxNXdEM3lCSGpRUURDaXZOVHRxelVYYWxIT3VGUzBuMWV0TWFsbElQdW40N1g2ZnZZMUVHeVVGckFlVkctbmxDek44UnFVekhadzdlc1M4Wl82Yk1oa3hwc1FsZ2Z6OGxFUl93SlhrN2Q4NXkwTnNVSGFCdFZYYkE0RjUyYUhCeTZDeHYxcDc0OTM0aFRDYngxa2RydGNTMUlpSzFWZHMxNFFtQVZickNNX0IxTW9XanJqb25lZ2hocEp1a0F1VlZDNDRhZVZlVjVRUXRPMFoteE5UNWVRVmVoSVdBX1o1MHZzTEJySGJMaFY1dGMzVnYyZXRJdEhxMEJnRHhuQjlOX1REdlhIbzZINGZTM3BuQnJ0ZjFLUmpZUVVobUxyMlBnQ0prZG1rTmVnazluSW9zdFVkbm1QZTRoc1pj","email":"aasmith@redhat.com"},"registry.redhat.io":{"auth":"Nzk1MDk5MHx1aGMtMWZiRlNjdVpvQmRuZWJuYU9JNHlTcjRqYThsOmV5SmhiR2NpT2lKU1V6VXhNaUo5LmV5SnpkV0lpT2lJM1pXVXdOelkxTWpSbFptRTBZamhqWWpKaU9XSTRaalF3Wm1WaU9EUTFZU0o5LklVUDFqX1hyS1VXeXVmR2VmODlYR21JM3FvV042ZnE0OGJES045YXJWSC0xdWZ5NVlnVzlNVHluYzNTU2dKZWswanpiNEE4RHNSRE0xT1ZURDlTVWhoT3g3OFRRd052bW1nMVFmVmdzWHRqQl9EMmhzajZXT2NDaDNtbDRqR1FvN2FLZVpUc1NTUXdaaGJ4c3NPVXVrN0pVV3ltLXRVWXF1YVZSQTBnRjJxVTR2NXJhZjFNMndTNVFyUWQ3VDA0Z2JwTUdadDFsYjN6czN2RXBTQU9vbnBoLTU1ZUFBSWVCd2FTQ2wxVGdGVTB3UG5oQWVpTlhJc2FMUHVVMG90T2lZZ093eDRyZ3ZoM1RuLWpGX0FWSHZtNXZ0dGstWTctaXZwclg1RUhNbUFZNUJRSDEwM0dDYlNkTHM1VXRScTEycDJhZ1ZvOVQzZ05na0RsVDJ6eHJZZG9Id0c3VUVRWlV3ZHR3RWJUZDRmY0JPeGcxNXdEM3lCSGpRUURDaXZOVHRxelVYYWxIT3VGUzBuMWV0TWFsbElQdW40N1g2ZnZZMUVHeVVGckFlVkctbmxDek44UnFVekhadzdlc1M4Wl82Yk1oa3hwc1FsZ2Z6OGxFUl93SlhrN2Q4NXkwTnNVSGFCdFZYYkE0RjUyYUhCeTZDeHYxcDc0OTM0aFRDYngxa2RydGNTMUlpSzFWZHMxNFFtQVZickNNX0IxTW9XanJqb25lZ2hocEp1a0F1VlZDNDRhZVZlVjVRUXRPMFoteE5UNWVRVmVoSVdBX1o1MHZzTEJySGJMaFY1dGMzVnYyZXRJdEhxMEJnRHhuQjlOX1REdlhIbzZINGZTM3BuQnJ0ZjFLUmpZUVVobUxyMlBnQ0prZG1rTmVnazluSW9zdFVkbm1QZTRoc1pj","email":"aasmith@redhat.com"}}}'
sshKey: |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDlL+4y1PuYGJLBv6ZaRAwAhiVLIokUmu/JwDvDezv85O/2s/OVHzvar9sHbYqzRmCIT9YQd5qn5dHiLY75W2nAAiVIXbyGQV/hMpDVlZ/zuzdm9lY01zStAVor50SSu/xYuW57eXOQn+zgSDQlokd8wJIcGzhpjwE8u6XGMdVWoK2DuBtqYEMcxVQYdZxqTlMM3/mzpdg+id9uqBbI0J9K3a77pYXsSsUYMaPVgiFVYzXH0DcVM1eaQhQFFRMapoW9/VeZ1hf+FmOXMLijIGI2i0yk3OzRB5fBOKt9Q003bZ6IOjc0tWchzVnKd8hw7AM/G+2g/HwCDoAjK3af1U3VPK4GtAN8PeoK5J9K8G7bisD5IiwreqCd1l44cS18rCyG7AicsyzDb0Qav7g1uzoAJbhisgGHhY+LF3DOuTGfBLFfQ1Py/OGCZVeC8UwHOn3fKlqg1sNWa4YYAOMVUmhj7wrbq2ATZGO3ZNvZr53mAjIR9nUksxTY8uHRpymLUAU= kni@rhos-nfv-01.lab.eng.rdu2.redhat.com
